@media screen and (max-width: 768px) {    
    /* Mobile responsive */

    
    .flex{
        flex-direction: column;
    }

    body,html {
        width: 100%;
        overflow-x: hidden;
    }
    

    /* Header */

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .logo h1 {
        border-bottom: 2px solid black; 
        padding-bottom: 10px; 
    }

    section.topo-site {
        padding: 20px 8%;
    }

    .botao-abrir-menu i{
        display:block;
    }
    

    .menu, .botao-contato{
        display: none;
    }

    .topo-site .txt-topo-site h1{
        font-size: 30px;
        margin-top: 40px;
        margin-right: 40px;
        text-align: justify;
    }

    .topo-site .txt-topo-site br{
        display: block;
    }
    
    .btn-curriculum {
        text-align: justify;
    }

    .topo-site .img-topo-site img {
       margin-bottom: 50px;
    
    }
    

    /* Habilidades */

    section.habilidades{
        padding: 20px 8%;
    }

    .sobre .img-sobre {
        display: none;
    }

    .sobre .txt-sobre h2 {
        text-align: center;
        font-weight: 400;
        font-size: 50px;
    }

    .habilidades-box {
        width: 100%; 
    }

    .habilidades-box .imagem img {
        width: 50px; 
        height: auto; 
        margin-right: 0; 
    }

    /* Portfolio */

    .img-portfolio1, .img-portfolio2, .img-portfolio3 {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 50px;   
    }

    .sobre-projeto{
        padding-top: 0px;
        padding-bottom: 50px;

    }

    /* Rodapé */

    footer .linha-rodape {
        text-align: center; 
    }

    footer .linha-rodape-borda, footer .linha-rodape-borda #copy{
       text-align: center;
       
    }

}



@media screen and (min-width: 768px) and (max-width: 1200px) {
    .flex {
        flex-direction: column;
    }

    body,
    html {
        width: 100%;
        overflow-x: hidden;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .logo h1 {
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }

    section.topo-site {
        padding: 20px 8%;
    }

    .botao-abrir-menu i {
        display: block;
    }

    .menu,
    .botao-contato {
        display: none;
    }

    .topo-site .txt-topo-site h1 {
        font-size: 30px;
        margin-top: 40px;
    }

    .topo-site .txt-topo-site br {
        display: flex;
    }

    .btn-curriculum {
        text-align: center;
    }

    .topo-site .img-topo-site img {
        margin-bottom: 50px;
    }

    section.habilidades {
        padding: 20px 8%;
    }

    .sobre .img-sobre {
        display: none;
    }

    .sobre .txt-sobre h2 {
        text-align: center;
        font-weight: 400;
        font-size: 50px;
    }

    .sobre .txt-sobre br {
        display: none;
    }

    .habilidades-box {
        width: 100%; 
    }

    .habilidades-box .imagem img {
        width: 50px; 
        height: auto; 
        margin-right: 0; 
    }

    .img-portfolio1,
    .img-portfolio2,
    .img-portfolio3 {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .sobre-projeto{
        padding-top: 0px;
        padding-bottom: 50px;

    }

    footer .linha-rodape {
        text-align: center;
    }

    footer .linha-rodape-borda,
    footer .linha-rodape-borda #copy {
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    section.topo-site {
        padding: 20px 5%;
    }

    .topo-site .txt-topo-site h1 {
        font-size: 24px;
    }

    .topo-site .txt-topo-site br {
        display: none;
    }

    .habilidades {
        padding: 20px 5%;
    }

    .img-portfolio1,
    .img-portfolio2,
    .img-portfolio3 {
        width: 100%; 
        margin-bottom: 40px; 
        max-width: 360px; 
    }
 
    
 }
